<div class="row">
    <div class="col s12 m6">
            <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" name="mainstring" 
                    #mainstring=ngModel type="text" [(ngModel)]="task.mainstring">
                </div> 
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom left" type="submit" [disabled]="!taskForm.valid">Submit</button>
                  </div>
                </div>
            </form>
            <label>Odd string</label>
          <div *ngFor="let s1 of str1">
            {{s1}}
          </div>
          <label>Even string</label>
          <div *ngFor="let s2 of str2"> 
            {{s2}}
          </div>
    </div>
  </div>