<div class="row">
    <div class="col s12 m6">
            <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" name="str1" 
                    #str1=ngModel type="text" [(ngModel)]="task.str1">
                </div> 
                <div class="input-field col s6">
                    <input placeholder="Placeholder" name="str2" 
                    #str2=ngModel type="text" [(ngModel)]="task.str2">
                </div> 
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom left" type="submit" [disabled]="!taskForm.valid">Submit</button>
                  </div>
                </div>
            </form>
            <label>Combined string</label>
          <div *ngFor="let s of mainstring">
            {{s}}
          </div>
         
    </div>
  </div>